@font-face {
    font-family: 'NorseBold';
    src: url(./fonts/Norse-Bold.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "NorseBold", "Helvetica", sans-serif;
}

h1 {
    font-size: 20px;
}

.odin-logo-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.4);
    height: 200px;
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 150px;
}

.odin-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

img {
    width: 100px;
    height: auto;
    position: relative;
    
}

div > p {
    color: white;
    position: relative;
    font-size: 50px;
}

.left-side {
    background-image: url(./img/background.jpg);
    background-size: cover;
    width: 40vw;
    height: 100vh;
}

.right-side {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.form-header-container {
    margin-top: 60px;
    margin-left: 50px;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.form-column-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-column-container:nth-of-type(2) {
    margin-left: 60px;
}

button {
    width: 180px;
    height: 50px;
    background-color: #006400;
    border-radius: 10px;
    color: white;
}

button:hover {
    background-color: #218838;
}

a {
    color: #006400;
}

a:hover {
    color: #218838
}

span {
    margin-top: 20px;
}

.border {
    width: 59vw;
    border: 2px solid rgba(0,0,0,0.2);
}

.buttons {
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 55vw;
    font-family: 'Times New Roman', Times, serif;
}

label {
    margin-bottom: 3px;
    margin-left: 50px;
}

input {
    width: 200px;
    height: 20px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 15px;
}

input:required {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green
}

input:focus {
    border:  2px solid blue;
}

input:required:focus {
    border: 2px solid blue;
}

@media (max-width: 600px) and (orientation:portrait) {
    @font-face {
        font-family: 'NorseBold';
        src: url(./fonts/Norse-Bold.otf) format('opentype');
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }      

    body {
        display: flex;
        flex-direction: column;
        font-family: "NorseBold", "Helvetica", sans-serif;
        margin: 0;
       /* border: 2px solid red; */
    }

    .left-side {
        display: flex;
        flex-direction: column;
        background-image: url(./img/background.jpg);
        background-size: cover;
        width: 101vw;
        height: 30vh;
    }

    .odin-logo-background {
        display: flex;
        background-color: rgba(0,0,0,0.4);
        height: 90px;
        width: 100vw;
        position: relative;
    }
    
    .odin-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    img {
        width: 50px;
        height: auto;
    }
    
    div > p {
        color: white;
        font-size: 30px;
    }
    
    span {
        margin-top: 20px;
    }
    
    .border {
        width: 101vw;
        border: 2px solid rgba(0,0,0,0.2);
    }
    
    .buttons {
        margin-top: 50px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        width: 55vw;
        font-family: 'Times New Roman', Times, serif;
    }
    
    label {
        margin-bottom: 3px;
    }
    
    input {
        width: 200px;
        height: 20px;
        margin-bottom: 30px;
        border-radius: 15px;
    }

    .right-side {
        width: 100vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    
    .form-header-container {
        display: flex;
        margin-left: 20px;;
    }
    
    .form-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .form-column-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0px;
    }
    
    .form-column-container:nth-of-type(2) {
        margin-left: 0px;
    }
    
    button {
        width: 180px;
        height: 50px;
        background-color: #006400;
        border-radius: 10px;
        color: white;
    }

}